<nav id="principal">
    <a href="#">
        <div class="option-menu-lateral">
        <i class="fa-solid fa-address-book"></i><br>
        Usuários
        </div>
    </a>
    <a href="#">
        <div class="option-menu-lateral">
        <i class="fa-solid fa-building"></i><br>
        Instituições
        </div>
    </a>

    <a href="#">
        <div class="option-menu-lateral">
            <i class="fa-solid fa-users"></i><br>
            Grupos
        </div>
    </a>
</nav>