<div class="row">
    <div class="col-2">
    <nav id="principal">
        <a href="#">
            <div class="option-menu-lateral">
            <i class="fa-solid fa-address-book"></i><br>
            Usuários
            </div>
        </a>
        <a href="#">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-building"></i><br>
                Instituições
            </div>
        </a>

        <a href="#">
            <div class="option-menu-lateral">
                <i class="fa-solid fa-users"></i><br>
                Grupos
            </div>
        </a>
    </nav>
    </div>
    <div class="col view-conteudo">
        <form method="post", class="form-padrao">
            <div class="row">
                <div class="col-6">
                    <label>
                        <span>CPF</span>
                        <input type="text" placeholder="CPF">
                    </label>
                </div>
                 <div class="col-6">            
                    <label>
                        <span>Nome</span>
                        <input type="text" placeholder="Nome">
                    </label>
                </div>
                <div class="w-100"></div>
                <div class="col-6">
                    <label>
                        <span>Phone</span>
                        <input type="text" placeholder="Phone">
                    </label>
                </div>
                 <div class="col-6">            
                    <label>
                        <span>Email</span>
                        <input type="text" placeholder="Email">
                    </label>
                </div>
                <div class="w-100"></div>
                                <div class="col-6">
                    <label>
                        <span>Password</span>
                        <input type="text" placeholder="Password">
                    </label>
                </div>
                 <div class="col-6">
                    <label class="submit">
                    <input type="submit" value="Cadastrar">
                    </label>            
                </div>


            </div>

            
           
            <!--

            input de cpf
            input name
            input phone
            input email
            password password
            submit cadastrar
            -->
        </form>
    </div>
</div>